In [1]:
import pandas as pd
import numpy as np
import plotly 
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='Wourly', api_key='ynOus3rUfBXLzn11FNII')
import matplotlib

In [45]:
#variable "ocean" is a Dataframe used in this code

#loading ocean
ocean = pd.read_csv("ocean.csv")
#general simplifying of ocean
ocean.drop(["Unnamed: 0"], axis = 1, inplace = True)
#low occurence of data for age lower than 16 and higher than 55, there are 10 or more participants for each age
ocean.drop(ocean.index[ocean['age'] <= 15].tolist(), inplace = True)
ocean.drop(ocean.index[ocean['age'] >= 56].tolist(), inplace = True)
ocean.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)
#creating mean of individual questions + subtractig one, as former scales were from 1 to 6, now are from 0 to 5
ocean['A'] = ocean[['A1', 'A2', 'A3', 'A4', 'A5']].mean(axis = 1).subtract(1)
ocean['C'] = ocean[['C1', 'C2', 'C3', 'C4', 'C5']].mean(axis = 1).subtract(1)
ocean['E'] = ocean[['E1', 'E2', 'E3', 'E4', 'E5']].mean(axis = 1).subtract(1)
ocean['N'] = ocean[['N1', 'N2', 'N3', 'N4', 'N5']].mean(axis = 1).subtract(1)
ocean['O'] = ocean[['O1', 'O2', 'O3', 'O4', 'O5']].mean(axis = 1).subtract(1)
#reorganization - cutting of unmeaned questions and resorting meaned ones
ocean.drop(['A1', 'A2', 'A3', 'A4', 'A5', 'C1', 'C2', 'C3', 'C4', 'C5', 'E1', 'E2', 'E3', 'E4', 'E5', 'N1', 'N2', 'N3', 'N4', 'N5', 'O1', 'O2', 'O3', 'O4', 'O5'], axis = 1, inplace = True)
ocean = ocean[['A', 'C', 'E', 'N', 'O', "age", "education", "gender"]].sort_values('age')

In [85]:
ages = ocean['age'].value_counts().sort_index()

ages_year = ages.values.tolist()
ages_mean = ages.index.values.tolist()
print(ages_year)
print(ages_mean)

[14, 31, 107, 164, 178, 129, 102, 128, 92, 100, 81, 83, 74, 72, 55, 62, 57, 44, 46, 45, 41, 33, 47, 40, 46, 28, 23, 32, 24, 24, 20, 15, 26, 10, 31, 16, 19, 15, 14, 11]
[16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]

In [84]:
A = []
C = []
E = []
N = []
O = []

start = 0
end = 14
iteration = 0

ages = ocean['age'].value_counts().sort_index().values.tolist()
#ages ->
#variable made from "age" column, occurences of each value is counted, sorted by "magical index"
#(basic index is messed up, because it has new index based on age, while it keeps tracking basic index numbers)
#according to this unseen-by-age index it sorted values and made a list - this it the variable

#first value of ages is 14 as there is 14 occurences of "16" in "age" column of dataframe ocean, etc.


def mean_age(dimension):

    start = 0
    end = ages[0]
    iteration = 0
    
    if dimension == A:
        column = 0
    elif dimension == C:
        column = 1
    elif dimension == E:
        column = 2
    elif dimension == N:
        column = 3
    else:
        column = 4

    for distance in ages:
    
    
        if iteration == 0:
            dimension.append(ocean.iloc[start:end, column].mean())
            iteration += 1
            start += distance
    
        else:
            end += distance
            dimension.append(ocean.iloc[start:end, column].mean())
            iteration += 1
            start += distance

            #returns a list with each item rounded
            
    return [round(number, 3) for number in dimension]
            
A = mean_age(A)

print(A)

[2.9, 3.045, 3.073, 3.087, 3.21, 3.169, 3.206, 3.203, 3.259, 3.322, 3.193, 3.398, 3.2, 3.211, 3.164, 3.268, 3.277, 3.191, 3.409, 3.24, 3.239, 3.048, 3.383, 3.485, 3.374, 3.35, 3.322, 3.356, 3.167, 3.417, 3.54, 3.28, 3.123, 3.38, 3.168, 3.438, 3.421, 3.493, 3.014, 3.2]

In [77]:
    for distance in ages:
    
    
        if iteration == 0:
            print(ocean.iloc[start:end, 0])
            iteration += 1
            start += distance
    
        else:
            end += distance
            print(ocean.iloc[start:end, 0])
            iteration += 1
            start += distance

753     2.6
1476    3.6
2054    2.0
1467    3.0
1027    3.2
862     2.4
1073    2.6
154     3.2
2182    4.0
1851    4.0
277     2.2
796     4.0
1592    1.6
795     2.2
Name: A, dtype: float64
890     1.8
1093    2.4
1780    3.2
750     2.6
2316    2.2
2223    3.4
1703    3.0
751     1.6
1278    3.4
2352    3.4
800     3.6
2742    3.4
2725    3.2
965     3.6
457     3.4
970     3.0
476     4.6
14      1.8
343     3.6
1669    3.2
2078    2.6
1557    4.0
720     3.8
268     3.6
2751    2.0
2467    3.6
2476    3.8
2221    3.4
2222    3.4
1159    1.8
215     2.0
Name: A, dtype: float64
2764    2.4
1062    3.6
2138    3.2
2409    3.6
362     3.0
1064    3.2
175     1.4
2589    4.0
354     3.0
168     3.2
2451    3.8
2736    2.2
158     1.8
368     2.2
156     3.8
153     2.2
2286    2.6
1261    2.4
1256    2.4
179     1.8
196     3.2
1174    3.6
202     3.2
303     3.6
256     4.4
1514    2.8
262     5.0
2082    3.4
265     3.4
2670    3.8
       ...
61      2.6
509     3.6
2238    3.8
899     2.2
1211    3.0
1439    2.0
1197    2.4
1541    3.8
47      3.4
2583    3.6
1199    3.4
2261    3.0
737     3.4
2695    2.6
378     1.4
24      4.0
640     3.4
641     3.2
384     4.6
1545    3.0
2559    5.0
880     2.4
29      4.0
1493    4.4
1164    0.8
722     2.8
1098    2.6
1490    2.6
2195    3.8
42      2.8
Name: A, Length: 107, dtype: float64
2042    0.0
2273    3.6
2581    2.2
475     1.2
299     2.6
320     1.8
1338    3.4
1463    4.2
1332    3.2
2387    3.4
1442    1.2
876     3.4
1831    3.8
462     3.6
1014    2.2
1012    2.6
1337    3.6
1860    4.2
1446    3.6
787     2.4
1900    2.6
1471    3.4
349     2.6
940     3.0
2675    2.8
352     2.4
549     3.6
397     2.4
976     1.6
1743    2.8
       ...
7       1.8
584     1.6
776     2.4
270     3.4
2664    4.0
778     2.0
237     3.8
2294    3.6
238     3.0
603     4.4
2165    4.4
2448    3.8
1150    2.6
173     3.4
2159    2.2
1634    3.4
2152    4.2
184     2.4
2151    3.2
230     3.8
2765    2.6
1635    3.0
2144    3.4
1060    2.4
1283    3.0
2511    2.2
1562    4.6
617     2.8
2226    2.4
1279    3.4
Name: A, Length: 164, dtype: float64
1783    4.6
2580    3.0
2454    3.8
1800    4.2
1554    4.0
507     4.0
1785    3.0
1561    4.0
852     3.2
1465    3.8
1608    3.2
1484    3.4
2430    3.6
1639    4.2
2672    3.4
1643    2.4
1645    2.8
1652    4.0
2428    4.4
1632    4.2
1524    1.0
2604    3.2
1511    2.8
1671    2.2
2415    2.0
2418    3.8
1674    3.4
775     4.0
1661    2.2
1724    2.2
       ...
875     2.2
2382    4.6
470     3.8
882     3.6
2377    3.2
2375    2.8
1850    3.6
1449    2.4
885     3.2
1857    3.8
2373    2.0
2372    3.4
896     1.8
1871    3.4
905     3.6
1363    3.4
363     3.4
1551    3.2
312     3.6
2035    3.4
359     4.0
357     3.0
1352    4.2
1345    3.6
2546    3.8
2046    3.8
2547    3.2
2048    3.8
2332    4.2
981     3.8
Name: A, Length: 178, dtype: float64
858     3.8
1023    3.4
1475    2.2
1438    1.6
2540    3.4
996     3.2
849     3.4
1133    3.8
1508    4.2
711     3.0
1313    3.6
993     4.0
1327    2.2
2576    2.8
2506    2.4
1543    4.0
786     2.6
779     3.4
881     3.6
1016    2.8
1326    3.6
784     4.4
1149    2.2
2499    2.8
2568    4.0
989     3.6
1498    3.2
973     2.8
1497    3.6
1055    3.4
       ...
2231    3.0
239     4.0
2756    3.2
2092    4.2
2086    2.2
72      3.0
280     3.0
288     4.0
319     4.2
2007    3.2
2003    3.2
2739    3.0
346     3.4
2337    3.8
547     2.8
548     3.2
95      2.0
2266    3.2
10      3.8
1606    3.8
622     3.4
1699    2.8
2429    3.0
633     3.8
1676    2.6
1706    2.4
1708    2.6
1558    2.0
693     2.6
1651    3.4
Name: A, Length: 129, dtype: float64
2346    3.2
1037    4.0
1928    3.6
2107    3.4
606     2.4
1607    1.8
2720    1.0
1936    3.6
927     1.8
411     4.0
249     3.4
766     2.4
1047    2.2
2637    3.8
1410    3.6
2358    2.2
2717    4.0
672     3.4
2520    3.2
2712    2.2
302     3.8
770     2.6
1296    3.0
393     4.0
1946    3.6
1549    4.2
1336    2.8
2317    2.0
2028    4.0
289     3.8
       ...
783     3.2
834     2.4
124     3.2
1102    2.8
848     3.8
1762    4.0
1694    4.0
1097    3.2
2224    3.6
1077    3.2
1100    2.0
2792    4.2
2673    2.6
2590    4.2
1720    2.0
46      3.0
1853    2.2
2282    3.4
1500    3.8
1233    3.2
2218    4.0
456     4.0
539     3.6
1072    2.6
2791    2.2
2260    3.2
159     3.0
1675    2.2
2169    3.6
2700    3.6
Name: A, Length: 102, dtype: float64
286     3.4
2752    3.4
1324    3.4
2084    4.0
2304    4.0
114     3.2
1010    4.2
1103    2.8
1621    2.8
1320    2.8
1116    2.6
2627    2.6
177     4.6
1303    3.0
1547    4.2
1277    3.4
2767    3.4
2525    4.2
1276    2.8
193     3.2
2127    3.6
694     4.0
681     3.2
673     3.4
2124    3.4
2123    4.0
697     3.2
1075    2.8
1076    2.4
730     3.8
       ...
744     3.0
2000    3.0
2016    3.8
2018    2.4
2605    1.4
311     3.2
389     3.2
2312    2.0
1942    4.2
943     2.6
1889    3.6
2790    2.8
2570    3.4
2264    4.6
1429    0.0
422     3.8
916     3.8
2713    4.2
2503    3.0
2718    3.2
2521    0.4
2502    3.4
1920    3.6
2564    3.8
604     3.6
1927    3.6
1392    3.8
1935    3.6
1390    2.4
376     3.2
Name: A, Length: 128, dtype: float64
2267    3.6
1552    2.4
2494    3.8
1417    3.8
1897    3.4
1866    3.8
1855    3.6
2384    3.8
1816    3.4
1456    2.6
1413    2.8
1460    4.0
1494    1.4
1718    3.0
1704    2.8
1659    2.2
1655    3.8
1614    3.2
2440    3.8
2453    4.0
2205    4.0
1912    4.8
1393    3.2
2184    2.6
2171    4.0
1263    2.6
2167    2.8
1287    2.6
2115    4.2
2096    4.0
       ...
283     3.2
992     3.4
985     3.4
945     4.0
191     3.0
147     3.2
2566    3.0
1054    3.8
914     2.2
1058    3.6
163     2.0
1071    1.8
157     3.2
1052    4.0
2622    3.0
255     2.8
57      2.6
2512    3.0
2681    3.4
541     3.0
50      3.6
1158    3.0
534     2.2
2793    1.8
698     3.6
684     3.4
44      4.2
642     3.6
2785    4.0
552     3.6
Name: A, Length: 92, dtype: float64
2741    3.4
1760    3.4
1380    3.8
360     4.0
918     2.6
917     3.0
2437    3.8
371     2.8
1983    4.4
1977    3.2
962     3.8
2318    3.6
2305    2.0
1003    3.6
615     4.0
1335    2.4
1644    1.8
2055    3.8
961     3.6
1620    2.0
986     3.2
1358    1.2
1359    1.4
2037    3.6
314     3.0
1660    3.8
293     3.8
2728    3.8
585     3.4
1923    4.2
       ...
53      3.2
54      4.0
1048    3.4
2288    3.4
1272    3.0
2211    3.6
1271    3.4
208     3.4
1123    2.4
2771    3.0
138     3.6
101     2.4
1018    4.4
137     3.6
2773    2.6
134     4.0
131     3.2
130     2.6
1087    3.0
126     3.8
2200    3.2
1266    4.0
2763    2.6
120     4.2
1182    3.8
2105    3.8
1019    4.4
245     3.6
45      4.0
1315    3.2
Name: A, Length: 100, dtype: float64
2366    3.6
1893    2.4
2111    1.8
508     3.6
2775    3.4
1269    3.8
2112    3.8
413     1.0
2660    5.0
412     2.6
719     2.4
1441    2.6
517     3.0
400     3.0
2438    2.8
2160    2.6
2281    2.0
500     4.4
291     3.4
971     3.6
746     3.0
119     3.8
1236    4.0
1226    3.4
1225    4.2
125     2.8
1788    2.4
1787    3.6
1161    2.2
2064    3.2
       ...
2747    1.4
2006    4.8
653     3.8
556     2.2
2762    3.4
1297    4.0
1599    3.4
52      3.2
650     3.6
2322    2.4
2533    2.0
2746    4.0
51      3.2
1367    4.0
1189    2.4
949     3.4
1987    2.8
2549    3.4
2114    4.2
691     4.0
225     3.6
2149    2.8
2567    2.4
683     3.8
1739    3.0
1804    3.2
1349    3.6
63      3.2
2515    3.0
55      2.6
Name: A, Length: 81, dtype: float64
635     3.6
619     2.8
590     2.8
1204    0.6
83      3.8
109     3.8
707     3.6
1793    3.2
1795    2.8
64      4.2
1509    3.8
1609    3.8
528     3.4
1178    3.2
1648    3.0
23      3.8
589     3.4
2691    3.0
525     5.0
2688    1.2
714     2.6
1596    3.2
602     3.2
1528    3.6
767     4.4
2242    4.4
1534    3.4
568     3.6
1213    3.4
533     3.6
       ...
2010    3.6
2014    4.0
315     2.6
313     4.0
210     3.4
980     3.8
2543    1.0
276     3.6
1325    2.6
263     3.8
2001    3.4
1056    3.4
2654    3.6
1448    3.6
1492    3.2
465     3.4
2698    4.0
859     4.2
478     3.4
1088    3.8
1474    2.8
1843    4.0
1874    4.2
170     2.6
897     3.4
1835    4.0
2188    3.4
1479    4.0
2495    4.0
408     3.0
Name: A, Length: 83, dtype: float64
581     3.6
2380    1.6
580     4.2
2021    4.2
2024    2.8
1951    3.6
2130    3.2
2034    3.6
308     2.8
599     3.8
1658    3.0
2050    3.6
2051    3.4
294     3.4
123     2.8
2104    4.0
269     3.0
2190    3.8
194     2.6
1826    2.0
562     4.0
2745    3.8
2340    3.0
1933    3.8
518     4.0
80      3.0
2156    4.0
369     5.0
1962    3.6
2724    3.2
       ...
2413    3.4
2667    1.8
1737    2.4
1735    2.8
822     4.0
860     1.8
1477    3.4
969     3.4
1068    3.2
1598    1.8
1127    3.6
1124    2.8
1357    3.6
1356    2.8
1346    3.8
1224    4.0
1113    3.0
1108    3.8
1248    4.2
1294    2.4
1290    2.8
661     3.8
1132    3.4
938     3.8
1275    3.2
1426    3.6
1186    3.6
2573    3.8
934     1.6
1464    2.2
Name: A, Length: 74, dtype: float64
944     3.6
1771    3.4
407     3.2
1540    3.2
1894    3.6
1764    3.4
2626    3.0
219     1.8
2399    3.4
1748    3.8
2529    3.6
1295    2.6
377     2.8
2143    2.2
185     3.2
1736    3.2
662     2.8
391     4.2
183     1.8
1017    3.2
2539    3.0
1887    3.6
1394    3.6
336     3.6
1847    2.2
1466    3.4
1844    3.4
855     3.4
1838    4.0
448     1.6
       ...
2336    3.4
1506    3.8
298     4.2
2022    4.0
2754    1.6
1440    1.8
85      3.6
2249    4.0
113     4.0
2668    4.0
2284    2.6
1145    2.8
59      3.0
1200    3.4
1594    3.2
2426    3.8
2439    3.6
1264    3.8
2671    3.0
2265    2.2
623     4.4
1251    2.4
648     2.4
1585    2.8
2797    2.4
2787    4.0
558     2.8
91      2.8
92      3.0
587     4.0
Name: A, Length: 72, dtype: float64
1329    2.0
282     1.6
1395    2.2
2422    2.8
1002    3.4
2074    4.6
2077    4.0
264     3.2
2779    3.0
1518    3.8
1229    3.2
1384    3.8
997     3.2
601     3.8
452     4.2
2240    1.8
2235    3.2
304     3.4
1778    2.4
2212    2.8
2004    3.4
1489    3.8
1818    3.8
474     2.2
2225    3.8
1840    2.4
94      3.4
501     4.0
1877    3.6
1637    3.2
2258    3.8
1589    2.4
627     2.6
2455    2.8
402     3.2
151     3.8
537     2.8
2348    3.6
2486    1.2
1915    2.0
1063    4.4
405     2.4
554     4.2
1963    4.0
716     2.6
1031    3.2
258     3.8
2394    4.2
1700    2.2
1026    2.4
2120    4.0
2113    2.6
1316    2.8
1969    3.6
2565    3.4
Name: A, dtype: float64
1196    3.2
1911    4.8
1646    3.8
868     4.6
1993    3.0
324     2.8
2500    1.8
935     3.6
1190    3.2
1642    3.2
385     3.8
866     5.0
1612    2.6
2005    3.6
1650    3.2
2798    2.4
2655    2.6
873     3.4
937     4.0
2247    3.6
2343    2.6
2768    3.0
2027    3.8
2079    3.6
1321    4.6
2470    3.2
2669    3.4
2759    2.8
1702    2.8
1101    3.8
       ...
1747    3.6
1559    2.0
187     1.8
2148    4.0
2173    3.2
668     2.8
180     2.4
1051    2.4
542     3.8
2163    4.0
273     3.8
2073    2.8
2106    3.6
275     4.2
2472    2.4
1368    3.4
2452    3.2
840     3.6
306     2.0
2489    1.8
2043    3.8
1519    2.6
575     3.2
1507    3.8
1810    4.0
1630    3.6
789     3.4
1799    2.6
572     3.8
1798    3.0
Name: A, Length: 62, dtype: float64
406     3.4
281     4.2
404     3.6
1930    3.0
2777    4.0
2081    4.0
149     3.4
1437    3.2
1986    3.0
1122    2.0
216     4.0
1267    2.2
2100    3.4
1430    3.6
2490    3.2
60      2.6
1033    2.6
365     3.2
1216    1.8
1304    2.8
1217    3.6
2560    3.4
386     3.4
1177    4.2
1801    2.8
874     2.8
807     2.8
588     3.2
583     3.2
1521    2.6
1591    3.0
1590    3.4
563     3.8
768     3.4
437     3.0
1806    3.4
1725    2.8
669     3.6
670     4.2
865     4.0
1846    3.8
1754    3.2
2446    3.4
1766    2.8
1505    3.6
645     4.0
2390    1.2
1796    3.6
1899    3.4
415     4.4
1455    4.6
2715    3.4
2357    2.6
630     4.0
1444    3.0
2434    3.4
1619    2.6
Name: A, dtype: float64
1396    3.4
1613    1.4
2326    1.6
2298    3.0
660     1.0
1623    3.4
2766    3.4
2527    3.4
1555    3.4
889     3.2
454     3.6
325     3.6
28      2.2
1829    3.6
1160    3.2
1478    2.6
2015    4.0
323     3.0
1310    3.0
2109    2.4
1858    3.6
171     3.6
1934    3.6
576     3.6
598     3.8
1954    4.0
2360    4.2
2639    2.8
1209    3.2
2661    3.8
2789    2.8
1128    3.0
651     2.4
2239    3.6
2070    3.2
2755    3.4
398     3.4
105     3.8
2033    4.8
2254    3.0
1689    2.8
2108    2.6
2659    3.2
1978    3.8
Name: A, dtype: float64
769     3.8
2538    2.4
1516    3.0
503     4.6
2388    4.0
1024    3.4
738     2.8
790     2.6
1525    3.8
1314    4.6
2118    3.8
621     3.6
2262    3.8
1207    4.0
2227    2.2
2423    3.0
1687    3.4
570     3.2
1696    3.4
1234    2.0
1258    3.2
2181    3.8
1584    3.6
657     3.6
155     3.8
2154    2.8
2633    2.0
695     2.8
2680    4.2
520     4.4
233     2.8
165     3.2
372     4.0
1867    3.6
857     3.6
2012    3.8
2011    4.4
390     3.0
864     3.6
2041    3.2
818     3.0
894     3.0
2575    3.8
2379    3.6
872     2.8
2334    3.8
Name: A, dtype: float64
345     3.2
431     2.8
956     3.4
2019    3.6
1081    2.4
1710    3.6
2419    2.6
726     3.6
432     2.8
721     2.8
2331    3.4
433     2.8
523     3.6
1414    4.0
436     3.4
1854    4.0
1221    3.2
434     3.4
2103    3.8
435     3.4
2416    2.6
658     3.4
176     3.8
1347    3.4
870     2.6
1109    3.6
2526    3.6
1879    1.2
2047    3.0
1769    3.0
1365    3.0
878     5.0
2505    3.2
1360    3.2
1786    3.4
1938    2.8
825     3.6
2091    3.8
2753    3.2
2068    3.6
1004    3.0
430     2.8
2045    2.0
284     3.6
2642    3.6
Name: A, dtype: float64
2158    2.6
1965    3.4
1156    2.6
921     3.8
348     3.6
1864    3.4
545     2.8
339     2.0
2450    3.0
1111    3.2
1717    4.0
2734    2.6
2059    3.6
579     3.4
453     4.4
2404    4.0
2321    3.8
2471    3.6
655     4.8
1481    2.4
2469    1.6
2320    3.0
2582    3.2
68      3.0
2518    3.4
1979    3.8
1482    3.0
2136    3.4
741     3.4
2085    2.4
1586    3.4
1305    2.8
1544    3.8
261     2.2
1134    3.8
459     3.0
1825    3.0
1781    4.0
550     3.0
1436    2.6
2776    4.0

Name: A, dtype: float64
1084    3.8
2353    3.4
374     2.6
1626    2.2
104     1.6
2658    2.8
919     3.0
586     4.0
1890    3.0
646     3.0
639     3.6
564     2.2
1602    3.6
2350    2.8
142     2.2
2128    3.4
1008    4.0
2760    3.0
1486    1.8
1307    2.4
490     3.4
2075    4.0
228     3.4
1330    3.8
708     4.0
1021    3.2
1030    3.0
1262    3.0
990     2.4
792     2.6
930     2.6
2295    3.4
2488    3.4
Name: A, dtype: float64
964     3.0
252     2.6
1203    3.6
1454    2.0
381     3.2
394     3.4
1903    3.8
2640    4.8
1025    3.8
1139    4.0
2551    4.0
1513    3.2
1792    3.4
1187    2.2
1153    4.0
886     2.8
2058    4.8
1916    5.0
892     4.2
2391    2.8
1765    2.8
81      1.8
2694    2.6
2735    4.4
342     2.8
1231    2.4
1244    4.0
1693    3.2
652     3.0
1970    5.0
2685    3.8
1247    4.0
1458    1.8
928     3.4
2635    2.6
573     5.0
2139    1.2
1301    3.0
2412    4.0
1382    4.4
229     3.8
593     3.6
234     4.2
2731    1.2
1891    3.2
1856    3.2
1721    4.0
Name: A, dtype: float64
2730    2.6
2274    3.4
2444    2.8
2462    3.8
2403    2.6
2676    4.0
2443    4.4
1424    4.2
839     3.0
223     3.4
480     3.2
1364    3.8
793     3.2
1712    2.8
481     4.0
812     4.0
482     2.0
1611    2.6
1695    4.0
824     3.8
2032    3.2
1665    4.0
1664    3.4
1994    3.0
1964    4.0
351     3.6
414     3.4
1779    3.4
2243    3.4
510     3.8
440     3.8
410     3.6
1797    3.6
987     3.2
1814    3.6
988     4.2
1129    3.4
565     4.0
1827    3.4
959     3.8
Name: A, dtype: float64
1756    3.8
809     4.2
1713    3.2
1740    3.6
1789    4.0
1823    2.8
811     3.2
1716    3.6
1636    3.8
419     4.0
418     4.2
417     3.8
2719    3.2
2556    3.8
1114    2.8
1126    3.8
399     3.4
1657    4.2
1151    3.6
1282    3.4
2738    2.6
1372    3.6
1405    2.4
1415    3.4
659     4.0
243     3.6
2431    3.6
1239    3.8
1924    2.2
420     3.6
2065    3.4
1961    2.8
607     3.4
608     3.6
1932    2.2
2648    2.2
40      3.4
566     3.6
2170    2.8
1975    3.8
2066    3.8
1995    3.6
1937    1.6
1997    3.4
2277    3.4
2784    3.0
Name: A, dtype: float64
1399    2.6
2062    3.8
625     2.4
1434    3.6
1992    3.8
863     3.4
1971    3.4
1597    3.8
2038    4.2
1714    3.6
1980    3.0
729     3.0
242     3.8
656     4.0
692     2.8
925     3.8
948     3.4
1040    2.8
696     4.0
2345    4.0
145     2.4
569     2.6
186     3.0
1006    2.6
1205    3.6
464     2.4
31      4.0
1007    4.0
Name: A, dtype: float64
2161    2.6
2276    4.0
830     3.0
898     3.0
2445    3.0
2562    3.6
375     3.8
373     3.0
487     2.8
1487    3.6
2095    3.8
582     4.2
2492    3.4
1573    2.0
2757    3.4
1533    2.8
1813    4.2
1802    4.0
97      3.2
1777    3.6
724     3.2
551     2.4
2653    3.8
Name: A, dtype: float64
75      3.6
1351    3.4
910     4.2
911     3.8
1312    3.4
600     4.0
1270    3.4
2191    3.8
513     3.2
700     3.6
1230    3.4
1046    3.0
2363    3.6
686     3.8
150     2.4
1082    3.6
1183    4.4
2726    2.2
1155    3.8
2722    2.6
48      1.8
629     3.0
1375    2.2
1868    4.0
1670    3.2
1601    3.2
1688    2.6
1991    4.0
2548    3.8
2684    3.4
1914    3.6
543     3.4
Name: A, dtype: float64
1176    3.4
808     2.8
734     3.0
1824    2.4
1940    4.4
2389    2.6
244     2.6
2625    3.2
2193    2.4
2374    4.2
1884    3.8
553     4.0
680     2.4
329     2.4
1768    3.0
1629    2.4
574     3.4
2319    3.4
1402    4.4
1373    4.0
2657    3.2
560     3.2
1870    2.2
2308    3.2
Name: A, dtype: float64
1898    3.8
2544    3.6
511     4.0
2219    4.0
1873    3.6
1237    3.4
2029    3.0
332     2.2
2674    4.0
328     3.2
188     3.0
1379    3.8
2513    3.6
1259    4.0
733     3.0
1656    3.2
933     4.0
2774    2.8
1192    3.4
367     4.4
1832    2.4
699     3.4
1218    3.4
526     2.8
Name: A, dtype: float64
972     3.6
578     3.4
616     4.0
2663    3.8
489     3.4
2678    2.6
1452    2.8
1967    4.6
1574    2.8
2309    2.8
2441    3.8
1624    2.8
2071    2.8
1201    3.8
254     4.4
2405    4.0
1066    2.4
1755    4.0
974     5.0
1137    4.0
Name: A, dtype: float64
2780    3.0
2410    3.4
2424    3.8
102     2.8
2427    3.8
1908    4.0
189     3.0
2026    3.8
2370    3.2
2052    2.2
300     3.4
2737    3.2
559     3.8
2786    2.6
2364    3.2
Name: A, dtype: float64
2216    4.0
39      2.6
2141    3.6
2347    2.6
2031    4.0
636     3.0
69      3.4
93      3.4
2076    2.8
2307    4.0
2292    3.0
2342    4.2
1001    2.6
409     2.4
257     3.6
871     3.8
854     2.6
2498    1.0
806     2.0
1731    3.8
1387    3.0
222     3.6
209     1.4
1050    4.0
1822    3.4
2708    3.4
Name: A, dtype: float64
1286    3.4
2561    3.2
2213    3.8
958     3.2
1243    3.8
1833    2.8
1501    3.4
1918    3.2
135     3.8
1885    3.2
Name: A, dtype: float64
338     3.4
86      3.2
152     3.6
87      3.4
58      3.0
224     3.6
99      2.4
493     3.0
274     2.8
2519    3.0
2799    1.4
1922    3.6
1135    3.0
951     3.2
1165    3.2
1322    3.6
1369    4.0
1616    2.8
1749    3.8
1758    2.2
1896    3.4
2517    2.4
1955    3.2
2268    4.0
2057    3.8
2089    4.0
2101    3.6
664     3.2
634     1.2
628     3.8
877     3.4
Name: A, dtype: float64
1974    3.6
2116    4.0
2199    3.2
392     3.0
2510    3.0
26      2.4
532     3.4
337     4.0
2257    3.6
884     3.6
484     3.4
2686    3.6
679     4.2
425     4.2
920     2.4
516     3.4
Name: A, dtype: float64
477     4.2
301     3.0
1944    3.8
2744    4.0
1042    2.6
1618    4.0
416     3.8
1757    4.0
468     3.6
2067    3.2
1194    3.8
685     4.0
2097    2.6
929     1.2
614     3.8
1061    3.6
2228    2.8
2344    3.2
1480    3.8
Name: A, dtype: float64
2133    3.4
887     2.6
182     3.0
2002    3.6
740     3.6
2025    3.8
1878    3.6
499     3.6
1638    4.0
382     3.4
1191    3.2
999     4.0
344     3.2
1546    4.0
1745    3.4
Name: A, dtype: float64
78      1.2
1342    3.4
611     4.0
1419    2.8
883     3.4
1450    3.0
1697    3.8
2711    3.2
1520    1.8
1849    3.2
2378    3.6
1750    2.8
1181    3.0
1457    3.0
Name: A, dtype: float64
2550    3.2
984     4.0
954     2.8
1045    3.2
1378    4.0
267     3.2
1910    2.4
1610    2.8
479     4.0
2060    3.0
1035    2.6
Name: A, dtype: float64

In [80]:
ocean.iloc[45, 0]

2.3999999999999999

In [5]:
ocean.iloc[start:end, 3]

753     2.6
1476    3.6
2054    2.0
1467    3.0
1027    3.2
862     2.4
1073    2.6
154     3.2
2182    4.0
1851    4.0
277     2.2
796     4.0
1592    1.6
795     2.2
Name: A, dtype: float64

In [17]:
ocean.head(15)

      age  education  gender    A    C    E    N    O
753    16        3.0       2  2.6  3.2  2.6  4.2  2.4
1476   16        1.0       2  3.6  3.8  2.6  1.4  2.6
2054   16        3.0       2  2.0  3.4  3.0  3.0  2.6
1467   16        3.0       2  3.0  3.4  3.4  3.2  3.0
1027   16        1.0       1  3.2  3.6  3.2  3.2  3.2
862    16        1.0       2  2.4  2.2  2.6  4.0  2.8
1073   16        1.0       2  2.6  2.0  2.0  3.6  2.6
154    16        3.0       2  3.2  2.8  2.8  1.0  3.6
2182   16        1.0       2  4.0  1.8  2.4  2.6  3.2
1851   16        1.0       2  4.0  3.4  3.4  2.6  3.6
277    16        3.0       1  2.2  2.6  2.8  3.2  2.4
796    16        1.0       1  4.0  2.4  3.0  1.4  2.6
1592   16        1.0       2  1.6  3.0  2.8  1.2  3.2
795    16        1.0       1  2.2  2.6  2.6  2.0  3.0
890    17        3.0       2  1.8  3.8  2.4  3.2  3.8

In [48]:
ocean['age'].value_counts()

20    178
19    164
21    129
23    128
18    107
22    102
25    100
24     92
27     83
26     81
28     74
29     72
31     62
32     57
30     55
38     47
40     46
34     46
35     45
33     44
36     41
39     40
37     33
43     32
50     31
17     31
41     28
48     26
44     24
45     24
42     23
46     20
52     19
51     16
53     15
47     15
54     14
16     14
55     11
49     10
Name: age, dtype: int64

In [28]:
counter = 0
row = 0
ocean_age = []
ocean_age_dimension = []
ocean_memory = 0

for age in ocean["age"]:

    if age 
    
    
    
    
    
    if age >= 17:
        break
        
    print(age)
    counter += 1
        
print(counter)

15
15
15
16
16
16
16
16
16
16
16
16
16
16
16
16
16
17
0

In [89]:
print(type(ocean_age))

<class 'list'>

In [84]:
ocean.iloc[0, 6]

15

In [60]:
# Create a trace
trace = go.Scatter(
    x = ocean["age"],
    y = ocean["O"],
    mode = 'markers'
)

data = [trace]

# Plot and embed in ipython notebook!
py.iplot(data, filename='basic-scatter')

# or plot with: plot_url = py.plot(data, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~Wourly/0 or inside your plot.ly account where it is named 'basic-scatter'

In [ ]:
row = 0
A = 0
C = 0
E = 0
N = 0
O = 0

while True:
    
    A = (ocean_raw.iloc[row, 0] + ocean_raw.iloc[row, 1] + ocean_raw.iloc[row, 2] + ocean_raw.iloc[row, 3] + ocean_raw.iloc[row, 4]) / 5
    
    row += 1
    
    if row == 2:
        break

In [ ]:
A

In [ ]:
ocean_raw.iloc[0:4, 10:20]

In [ ]:
print(ocean_raw["gender"])

In [ ]:
question = "A4"
subquestions = 5

def gender_score(question):   
    
    if question[0] == "A":
        col = int(question[1]) - 1 + subquestions * 0
    elif question[0] == "C":
        col = int(question[1]) - 1 + subquestions * 1
    elif question[0] == "E":
        col = int(question[1]) - 1 + subquestions * 2
    elif question[0] == "N":
        col = int(question[1]) - 1 + subquestions * 3
    elif question[0] == "O":
        col = int(question[1]) - 1 + subquestions * 4
    
    row = 0
    
    wrong = 0

    #"amount" is used as a number of men
    male_amount = 0
    #"count" is used as a sum of their answers
    male_count = 0
    
    female_amount = 0
    female_count = 0
     
    for illusive_variable_that_wants_to_be_used_but_is_useless in ocean["{}".format(question)]:
        
        #Is it possible to calculate with selected cell? If not, it counts occurence in "else". (Selected by row and column...) (It cannot count with "NaN")
        
        if np.isfinite(ocean.iloc[row, col]):
            
            #Male's answer's strenghts are summed up in total, so we can later create (by dividing) a mean of answers using summation of number of male participants.
            
            if ocean.iloc[row, 25] == 1:
                male_amount += ocean.iloc[row, col]
                male_count += 1
            #The same applies for females. Read description above.
            else:
                female_amount += ocean.iloc[row, col]
                female_count += 1
        #It is not possible to count with selected row in a column, so we count how many mistakes occured in whole CSV.
        else:
            wrong += 1
            
        #Function moves through cells. Columns are fixed, rows increase their indexes.
        row += 1
        
    male_score = male_amount / male_count
    female_score = female_amount / female_count
    
    difference = male_score / female_score
    
    if print_wrong == 1:
        print("{} wrong input/s in {}.".format(wrong, question))
    if print_difference == 1:
        print()

    return male_score, female_score


gender_score(question)

In [ ]:
gender_score("N5")

In [ ]:
question = "A4"
    
    if question[0] == "A":
        col = int(question[1]) - 1 + subquestions * 0
    elif question[0] == "C":
        col = int(question[1]) - 1 + subquestions * 1
    elif question[0] == "E":
        col = int(question[1]) - 1 + subquestions * 2
    elif question[0] == "N":
        col = int(question[1]) - 1 + subquestions * 3
    elif question[0] == "O":
        col = int(question[1]) - 1 + subquestions * 4
        
        
col = ??