In [1]:
import pandas as pd
import numpy as np
import plotly 
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='Wourly', api_key='ynOus3rUfBXLzn11FNII')
import matplotlib

In [307]:
#variable "ocean" is a Dataframe used in this code

#loading ocean
ocean = pd.read_csv("ocean.csv")
#general simplifying of ocean
ocean.drop(["Unnamed: 0"], axis = 1, inplace = True)
#low occurence of data for age lower than 16 and higher than 55, there are 10 or more participants for each age
ocean.drop(ocean.index[ocean['age'] <= 15].tolist(), inplace = True)
ocean.drop(ocean.index[ocean['age'] >= 56].tolist(), inplace = True)
ocean.dropna(axis = 0, how='any', thresh=None, subset=None, inplace = True)
#creating mean of individual questions + subtractig one, as former scales were from 1 to 6, now are from 0 to 5
ocean['A'] = ocean[['A1', 'A2', 'A3', 'A4', 'A5']].mean(axis = 1).subtract(1)
ocean['C'] = ocean[['C1', 'C2', 'C3', 'C4', 'C5']].mean(axis = 1).subtract(1)
ocean['E'] = ocean[['E1', 'E2', 'E3', 'E4', 'E5']].mean(axis = 1).subtract(1)
ocean['N'] = ocean[['N1', 'N2', 'N3', 'N4', 'N5']].mean(axis = 1).subtract(1)
ocean['O'] = ocean[['O1', 'O2', 'O3', 'O4', 'O5']].mean(axis = 1).subtract(1)
#reorganization - cutting of unmeaned questions and resorting meaned ones
ocean.drop(['A1', 'A2', 'A3', 'A4', 'A5', 'C1', 'C2', 'C3', 'C4', 'C5', 'E1', 'E2', 'E3', 'E4', 'E5', 'N1', 'N2', 'N3', 'N4', 'N5', 'O1', 'O2', 'O3', 'O4', 'O5'], axis = 1, inplace = True)
ocean = ocean[['A', 'C', 'E', 'N', 'O', "age", "education", "gender"]].sort_values('age')
#removing values below scale
ocean = ocean[ocean['A'] > 1]
ocean = ocean[ocean['C'] > 1]
ocean = ocean[ocean['E'] > 1]
ocean = ocean[ocean['N'] > 1]
ocean = ocean[ocean['O'] > 1]
#removing decimals from 'education' column
ocean['education'] = ocean['education'].astype(int)
#final cut
ocean = ocean.reset_index(drop=True)

In [308]:
ocean.head(5)

     A    C    E    N    O  age  education  gender
0  2.6  3.2  2.6  4.2  2.4   16          3       2
1  3.6  3.8  2.6  1.4  2.6   16          1       2
2  2.0  3.4  3.0  3.0  2.6   16          3       2
3  3.0  3.4  3.4  3.2  3.0   16          3       2
4  3.2  3.6  3.2  3.2  3.2   16          1       1

In [309]:
age_year = ocean['age'].value_counts().sort_index().index.values.tolist()
#list of 16, 17, 18, 19, 20, ..., 55
age_res = ocean['age'].value_counts().sort_index().values.tolist()
#How many rows are there for each age -> that number is put into list.
#Eg: 16 is on 14 rows, 17 on 31, 18 on 107
#list of 14, 31, 107, ...

#first value of ages is 14 as there is 14 occurences of "16" in "age" column of dataframe ocean, etc.

#function, which creates a list of means of dimensions for each age
def mean_age(dimension):

    start = 0
    end = age_res[0]
    iteration = 0
    mean = []
    
    if dimension == A:
        column = 0
    elif dimension == C:
        column = 1
    elif dimension == E:
        column = 2
    elif dimension == N:
        column = 3
    else:
        column = 4

    for distance in age_res:
    
    
        if iteration == 0:
            mean.append(ocean.iloc[start:end, column].mean())
            iteration += 1
            start += distance
    
        else:
            end += distance
            mean.append(ocean.iloc[start:end, column].mean())
            iteration += 1
            start += distance

            #returns a list with each item rounded
            
    return [round(number, 3) for number in mean]

In [310]:
#smaller dataFrame of ocean, which consists of means for individual age
lake_age = pd.DataFrame()
lake_age['age'] = age_year
lake_age['respondents'] = age_values
lake_age['A'] = mean_age(A)
lake_age['C'] = mean_age(C)
lake_age['E'] = mean_age(E)
lake_age['N'] = mean_age(N)
lake_age['O'] = mean_age(O)
lake_age.head()

   age  respondents      A      C      E      N      O
0   16           14  2.877  2.877  2.800  2.738  2.862
1   17           31  2.883  3.092  2.658  2.592  3.117
2   18          107  3.136  2.888  2.875  2.569  2.938
3   19          164  3.085  2.908  2.875  2.640  2.943
4   20          178  3.196  2.870  2.773  2.505  2.879

In [311]:
edu_lvl = ocean['education'].value_counts().sort_index().index.values.tolist()
edu_res = ocean['education'].value_counts().sort_index().values.tolist()

In [312]:
def mean_edu(dimension):

    start = 0
    end = edu_res[0]
    iteration = 0
    mean = []
    
    if dimension == A:
        column = 0
    elif dimension == C:
        column = 1
    elif dimension == E:
        column = 2
    elif dimension == N:
        column = 3
    else:
        column = 4

    for distance in edu_res:
    
    
        if iteration == 0:
            mean.append(ocean.iloc[start:end, column].mean())
            iteration += 1
            start += distance
    
        else:
            end += distance
            mean.append(ocean.iloc[start:end, column].mean())
            iteration += 1
            start += distance

            #returns a list with each item rounded
            
    return [round(number, 3) for number in mean]

len(mean_edu(A))

5

In [313]:
lake_edu = pd.DataFrame()
lake_edu["education"] = edu_lvl
lake_edu["respondents"] = edu_res
lake_edu["A"] = mean_edu(A)
lake_edu["C"] = mean_edu(C)
lake_edu["E"] = mean_edu(E)
lake_edu["N"] = mean_edu(N)
lake_edu["O"] = mean_edu(O)

lake_edu.head()

   education  respondents      A      C      E      N      O
0          1          153  3.035  2.925  2.801  2.591  2.953
1          2          191  3.147  2.885  2.860  2.621  2.929
2          3          808  3.242  2.861  2.817  2.558  2.913
3          4          257  3.209  2.868  2.776  2.678  2.867
4          5          278  3.262  2.858  2.734  2.529  2.896

In [314]:
ocean.iloc[0, 6]

3

In [315]:
ocean.loc[ocean['N'] == 0]

Empty DataFrame
Columns: [A, C, E, N, O, age, education, gender]
Index: []

In [316]:
# Create a trace
trace_ocean = go.Box(
    name = "Respondents",
    x = ocean["age"],
    y = ocean["A"],

)

trace_lake_age = go.Scatter(
    name = "Mean",
    x = lake_age["age"],
    y = lake_age["A"],

)

data = [trace_ocean, trace_lake_age]

# Plot and embed in ipython notebook!
py.iplot(data, filename='basic-scatter')

# or plot with: plot_url = py.plot(data, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~Wourly/0 or inside your plot.ly account where it is named 'basic-scatter'

In [318]:
# Create a trace
trace_ocean = go.Box(
    name = "Respondents",
    x = ocean["education"],
    y = ocean["A"],
)

trace_lake_age = go.Scatter(
    name = "Mean",
    x = lake_edu["education"],
    y = lake_edu["A"],

)

data = [trace_ocean, trace_lake_age]

# Plot and embed in ipython notebook!
py.iplot(data, filename='basic-scatter')

# or plot with: plot_url = py.plot(data, filename='basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~Wourly/0 or inside your plot.ly account where it is named 'basic-scatter'

In [ ]:
question = "A4"
subquestions = 5

def gender_score(question):   
    
    if question[0] == "A":
        col = int(question[1]) - 1 + subquestions * 0
    elif question[0] == "C":
        col = int(question[1]) - 1 + subquestions * 1
    elif question[0] == "E":
        col = int(question[1]) - 1 + subquestions * 2
    elif question[0] == "N":
        col = int(question[1]) - 1 + subquestions * 3
    elif question[0] == "O":
        col = int(question[1]) - 1 + subquestions * 4
    
    row = 0
    
    wrong = 0

    #"amount" is used as a number of men
    male_amount = 0
    #"count" is used as a sum of their answers
    male_count = 0
    
    female_amount = 0
    female_count = 0
     
    for illusive_variable_that_wants_to_be_used_but_is_useless in ocean["{}".format(question)]:
        
        #Is it possible to calculate with selected cell? If not, it counts occurence in "else". (Selected by row and column...) (It cannot count with "NaN")
        
        if np.isfinite(ocean.iloc[row, col]):
            
            #Male's answer's strenghts are summed up in total, so we can later create (by dividing) a mean of answers using summation of number of male participants.
            
            if ocean.iloc[row, 25] == 1:
                male_amount += ocean.iloc[row, col]
                male_count += 1
            #The same applies for females. Read description above.
            else:
                female_amount += ocean.iloc[row, col]
                female_count += 1
        #It is not possible to count with selected row in a column, so we count how many mistakes occured in whole CSV.
        else:
            wrong += 1
            
        #Function moves through cells. Columns are fixed, rows increase their indexes.
        row += 1
        
    male_score = male_amount / male_count
    female_score = female_amount / female_count
    
    difference = male_score / female_score
    
    if print_wrong == 1:
        print("{} wrong input/s in {}.".format(wrong, question))
    if print_difference == 1:
        print()

    return male_score, female_score


gender_score(question)

In [ ]:
gender_score("N5")

In [ ]:
question = "A4"
    
    if question[0] == "A":
        col = int(question[1]) - 1 + subquestions * 0
    elif question[0] == "C":
        col = int(question[1]) - 1 + subquestions * 1
    elif question[0] == "E":
        col = int(question[1]) - 1 + subquestions * 2
    elif question[0] == "N":
        col = int(question[1]) - 1 + subquestions * 3
    elif question[0] == "O":
        col = int(question[1]) - 1 + subquestions * 4
        
        
col = ??