In [1]:
import pandas as pd
import numpy as np

In [2]:
ocean = pd.read_csv("ocean.csv")
ocean.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [3]:
ocean.head(3)

,A1,A2,A3,A4,A5,C1,C2,C3,C4,C5,...,N4,N5,O1,O2,O3,O4,O5,gender,education,age
0,2.0,4.0,3.0,4.0,4.0,2.0,3.0,3.0,4.0,4.0,...,2.0,3.0,3.0,6,3.0,4.0,3.0,1,NaN,16
1,2.0,4.0,5.0,2.0,5.0,5.0,4.0,4.0,3.0,4.0,...,5.0,5.0,4.0,2,4.0,3.0,3.0,2,NaN,18
2,5.0,4.0,5.0,4.0,4.0,4.0,5.0,4.0,2.0,5.0,...,2.0,3.0,4.0,2,5.0,5.0,2.0,2,NaN,17

In [4]:
ocean.iloc[0:4, 3]

0    4.0
1    2.0
2    4.0
3    5.0
Name: A4, dtype: float64

In [5]:
question = "A4"

def gender_difference(question):   
    
    col = 3
    
    row = 0
    
    wrong = 0

    #"amount" is used as a number of men
    male_amount = 0
    #"count" is used as a sum of their answers
    male_count = 0
    
    female_amount = 0
    female_count = 0
     
    for illusive_variable_that_wants_to_be_used_but_is_useless in ocean["{}".format(question)]:
        
        #Is it possible to calculate with selected cell? If not, it counts occurence in "else". (Selected by row and column...) (It cannot count with "NaN")
        
        if np.isfinite(ocean.iloc[row, col]):
            
            #Male's answer's strenghts are summed up in total, so we can later create (by dividing) a mean of answers using summation of number of male participants.
            
            if ocean.iloc[row, 25] == 1:
                male_amount += ocean.iloc[row, col]
                male_count += 1
            #The same applies for females. Read description above.
            else:
                female_amount += ocean.iloc[row, col]
                female_count += 1
        #It is not possible to count with selected row in a column, so we count how many mistakes occured in whole CSV.
        else:
            wrong += 1
            
        #Function moves through cells. Columns are fixed, rows increase their indexes.
        row += 1
        
    male_score = male_amount / male_count
    female_score = female_amount / female_count
    
    difference = (male_score / female_score)
  

    return male_score, female_score, difference, wrong


gender_difference(question)

(4.4334061135371181, 4.8305630026809654, 0.91778248437637089, 19)